[submodule "Probe Tetrahedralization/glm"]
	path = Probe Tetrahedralization/glm
	url = https://github.com/g-truc/glm.git
[submodule "Probe Tetrahedralization/tinygltf"]
	path = Probe Tetrahedralization/tinygltf
	url = https://github.com/syoyo/tinygltf.git
